<h1>My heading</h1>

<h3><%= link_to "Add new example", [:new, :example] %></h3>


<% @examples.each do |example| %>

  <div class="examples">
    <div class="examples_title">
      <%= link_to example.title, example %> 
    </div>
    <div class="examples_image">
      <%= image_tag example.url %>
    </div>
  </div>
<% end %>

