<div class="page">

<div class="titles">Projects</div>
<% @examples.each do |example| %>

  <div class="examples">
    <div class="examples_title">
      <%= link_to example.title, example %> 
    </div>
    <div class="examples_image">
      <%= image_tag example.url %>
    </div>
  </div>
<% end %>

</div>



<div class="titles">Contact</div>

<h3><%= link_to "Add new example", [:new, :example] %></h3>

<p>
My contact info
</p>
</div>


