<div class="page">

  <!----------------------------Home---------------------------!>
<div class="titles">[projects]</div>
<% @examples.each do |example| %>

  <div class="examples">
    <div class="examples_title">
      <%= link_to example.title, example %> 
    </div>
    <div class="examples_image">
      <%= image_tag example.url %>
    </div>
  </div>
<% end %>

</div>

<!----------------------------------Contact-------------------->

<div class="titles">[contact]</div>

<h3><%= link_to "Add new example", [:new, :example] %></h3>

<p>
My contact info
</p>
</div>

<!---------------------------------About----------------------->

